In [12]:
"""Q1. Explain with an example each when to use a for loop and a while loop. """
 
if (__name__=="__main__"):
    #     FOR LOOP is used when the number of iterations is already known.
    #     WHILE LOOP is used when the number of iteration is unknown / runs until the condition gets false/true

    #     FOR LOOP, Intialization is done just before begining of loop
    #     WHILE LOOP, Intialization is posible to do anywhere.

    # EXAMPLES 

    print("For output")  
    n = [1, 2, 3, 4, 5, 6, 7]
    for i in n:  #condition & iteration & i vairable inialization  is done here  
        print(i)
    # here for loop knows the  no. of iteration 

    print("____________")
    print("while output")
    i = 1           # Inialization
    while i <= 7:   # condition  is done here
        print(i)    
        i += 1      #iteration or updation

    # here while 's iteration depends on given condition

For output
1
2
3
4
5
6
7
____________
while output
1
2
3
4
5
6
7

In [9]:
""" Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
 and while loop. """
if (__name__=="__main__"):
    sum_of_num = 0
    product_of_num = 1
    for i in range(1,11):
        sum_of_num = sum_of_num + i
        product_of_num = product_of_num * i
    print(sum_of_num)
    print(product_of_num)

    sum_of_num = 0
    product_of_num = 1
    i = 1
    while i <=10:
        sum_of_num = sum_of_num + i
        product_of_num = product_of_num * i
        i = i+1
    print(sum_of_num)
    print(product_of_num)

55
3628800
55
3628800

In [2]:
"""Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit."""

if (__name__=="__main__"):
    def cal_charges(no_of_units):
        remaining_no_units = 0
        bill_charges = 0
        if no_of_units <= 100 :
            bill_charges = no_of_units * 4.5 
        elif no_of_units >= 100 and no_of_units <= 200 :
            temp = (no_of_units - 100) * 6
            bill_charges = 100*4.5 + temp
        elif no_of_units >=200 and no_of_units <=300 :
            temp = (no_of_units - 200) * 10
            bill_charges = 100*4.5 + 100*6 + temp
        else :
            temp = (no_of_units - 300) * 20
            bill_charges = 100*4.5 + 100*6 + 100*10 + temp
            
        return bill_charges
# no_of_units = input("Enter No. Units : ")
# print(cal_charges(no_of_units))
print(cal_charges(float(input("Enter no. of Units : "))))

Enter no. of Units :  50

225.0

In [20]:
"""
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list."""
if (__name__=="__main__")
    list1 = []
    list2 = []
    for i in range(1,101):
        list1.append(i)
        cube_of_no = i*i*i
        if cube_of_no % 4 == 0 or cube_of_no % 5 == 0:
            list2.append(cube_of_no)
    print(list1)
    print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [33]:
if (__name__=="__main__")
    list1 = []
    list2 = []
    i = 1
    cube_of_no = 0
    while i <= 100:
        list1.append(i)
        cube_of_no = i*i*i
        if cube_of_no % 4 == 0 or cube_of_no % 5 == 0:
            list2.append(cube_of_no)
        i = i + 1
    print(list1)
    print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [42]:
"""Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"  """

string = "I want to become a data scientist"
count = 0
for i in string:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
        count = count + 1
print(count)

12